/* --- Styling for the button component. --- */

.button {
	display: block;
	padding: .75em;
	letter-spacing: .05em;
	border-style: solid;
	border-width: .125em;
	text-align: center;
	width: 100%;
}

a.button--normal, a.button--normal:visited {
	color: #333;
	border-color: #333;
}

a.button--inverted, a.button--inverted:visited {
	color: #eee;
	border-color: #eee;
}

a.button--normal:active {
	border-color: #7F53DC;
	background: #7F53DC;
	color: #fff;
	transition: all .125s ease-in;
}

a.button--inverted:active {
	border-color: #fff;
	background: #fff;
	color: #7F53DC;
	transition: all .125s ease-in;
}

@media screen and (min-width: 768px) {

.button {
	display: inline-block;
	width: auto;
	margin: auto;
}

a.button--normal:hover {
	border-color: #7F53DC;
	color: #7F53DC;
	transition: all .25s ease-in;
}

a.button--inverted:hover {
	border-color: #ffd787;
	color: #ffd787;
	transition: all .25s ease-in;
}

a.button--normal:active {
	border-color: #7F53DC;
	background: #7F53DC;
	color: #fff;
	transition: none;
}

a.button--inverted:active {
	border-color: #e6b34c;
	background: #e6b34c;
	color: #7F53DC;
	transition: none;
}

}