body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

/* --- Other basic rules --- */

h1, h2, h3, h4, h5, h6 {
	margin: .75em auto;
	font-weight: 700;
}

h1.--normal, h2.--normal, h3.--normal, h4.--normal, h5.--normal, h6.--normal {
	color: #333;
}

h1.--inverted, h2.--inverted, h3.--inverted, h4.--inverted, h5.--inverted, h6.--inverted {
	color: #fff;
}

h1 { font-size: 3em; } h2 { font-size: 2.5em; } h3 { font-size: 2em; } h4 {font-size: 1.75em;} h5 { font-size: 1.5em; } h6 { font-size: 1.25em; }